
VITE_SUPABASE_URL=https://uovpubauljlkfzsboxof.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVvdnB1YmF1bGpsa2Z6c2JveG9mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2MTQ1NDIsImV4cCI6MjA5NTE5MDU0Mn0.EKefbujk6TFflI_MOR8BaUyIUFvGnyDWrXY-U6IHnUk